In [1]:
# Bibliotecas

import pandas as pd
import requests

In [2]:
# Importación de datos desde Excel. Mapa 1

df1 = pd.read_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\ARCHIVO PARA MAPAS JUANI.xlsx', sheet_name='MAPA 1 OBRAS 2023')
df1.head()

,DIRECCIÓN,COMUNA,ZONA,EMPRESA,ESTADO PLUVIALES
0,"Avenida Francisco Beiró y Quevedo, Buenos Aire...",11,5,ALEMARSA,PROY. + PPTO.
1,"Saenz y Ochoa , Buenos Aires, Argentina",4,4,ALEMARSA,PROY. + PPTO.
2,"Plaza San Martin , Buenos Aires, Argentina",1,1,ALEMARSA,OBRA CONJUNTA VP.
3,"Dellepiane Norte 4099, Buenos Aires, Argentina",9,2,ALEMARSA,TRASPASO
4,"Warnes y Padilla , Buenos Aires, Argentina",15,5,ALEMARSA,OBRA CONJUNTA VP

In [3]:
# Importación de datos desde Excel. Mapa 2

df2 = pd.read_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\ARCHIVO PARA MAPAS JUANI.xlsx', sheet_name='MAPA 2 ACUMAR 2022')
df2.drop(['Unnamed: 0'], axis=1, inplace=True)
df2.head()

                             DIRECCIÓN CORREGIDA   COMUNA  ZONA EMPRESA
0     Cobo y Hortiguera , Buenos Aires, Argentina       7     2       RC
1    Roca y General Paz , Buenos Aires, Argentina       8     2       RC
2  Riestra y Larrazabal , Buenos Aires, Argentina       8     2       RC
3       Condor y Crespo , Buenos Aires, Argentina       4     4    DASA

In [4]:
# Importación de datos desde Excel. Mapa 3

df3 = pd.read_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\ARCHIVO PARA MAPAS JUANI.xlsx', sheet_name='MAPA 3 ACUMAR 2023')
df3.drop(['Unnamed: 0'], axis=1, inplace=True)
df3.head()

                            DIRECCIÓN CORREGIDA   COMUNA  ZONA EMPRESA
0        Venezuela 4350, Buenos Aires, Argentina       5     4    DASA
1  Avenida Caseros 3150, Buenos Aires, Argentina       4     4    DASA
2    Alzaga y Las Casas, Buenos Aires, Argentina       5     4    DASA
3    Necochea y Margal , Buenos Aires, Argentina       4     4    DASA
4           Moreto 1700, Buenos Aires, Argentina       9     2    OSLO

In [5]:
# Key de la API y función para obtener latitud y longitud de cada dirección

API_KEY = 'AIzaSyDyjTzxdC-nXjNOZA3yWgj4_nyI5xvgdWM'

def coordenadas(dir):
    address = dir
    params = {
        'key': API_KEY,
        'address': address
    }
    base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
    response = requests.get(base_url, params=params).json()
    
    lat = response['results'][0]['geometry']['location']['lat']
    lng = response['results'][0]['geometry']['location']['lng']
    
    return (lat, lng)

In [6]:
df1['coordenadas'] = [coordenadas(df1['DIRECCIÓN'][i]) for i in range(len(df1))]
df1

,DIRECCIÓN,COMUNA,ZONA,EMPRESA,ESTADO PLUVIALES,coordenadas
0,"Avenida Francisco Beiró y Quevedo, Buenos Aire...",11,5,ALEMARSA,PROY. + PPTO.,"(-34.6105354, -58.5194291)"
1,"Saenz y Ochoa , Buenos Aires, Argentina",4,4,ALEMARSA,PROY. + PPTO.,"(-34.6461513, -58.4161676)"
2,"Plaza San Martin , Buenos Aires, Argentina",1,1,ALEMARSA,OBRA CONJUNTA VP.,"(-34.5940284, -58.3768955)"
3,"Dellepiane Norte 4099, Buenos Aires, Argentina",9,2,ALEMARSA,TRASPASO,"(-34.6565798, -58.47035750000001)"
4,"Warnes y Padilla , Buenos Aires, Argentina",15,5,ALEMARSA,OBRA CONJUNTA VP,"(-34.6034868, -58.43941090000001)"
5,"Nueva York y Chivilcoy , Buenos Aires, Argentina",11,5,ALEMARSA,OBRA CONJUNTA EMUI,"(-34.6125623, -58.500542)"
6,"Terrada 1450, Buenos Aires, Argentina",11,5,ALEMARSA,PROY. + PPTO.,"(-34.6164329, -58.4757856)"
7,"Doctor Pedro Ignacio Rivera 4900, Buenos Aires...",12,3,AUTOMAT,PROY. + PPTO.,"(-34.5707788, -58.48582)"
8,"Avenida Segurola y Tinogasta, Buenos Aires, Ar...",11,5,AUTOMAT,PROY. + PPTO.,"(-34.6092212, -58.5102895)"
9,"Mariano Acha 2800, Buenos Aires, Argentina",12,3,AUTOMAT,PROY. + PPTO.,"(-34.5671809, -58.4815876)"
10,"Bahía Blanca 1450, Buenos Aires, Argentina",10,2,AUTOMAT,PROY. + PPTO.,"(-34.6206844, -58.4900111)"
11,"Matienzo y Conesa , Buenos Aires, Argentina",13,3,AUTOMAT,OBRA CONJUNTA VP,"(-34.5768346, -58.4436848)"
12,"Monroe y Superí, Buenos Aires, Argentina",12,3,AUTOMAT,OBRA CONJUNTA EMUI,"(-34.5608362, -58.4726483)"
13,"Estomba y Paroissien , Buenos Aires, Argentina",12,3,AUTOMAT,PROY. + PPTO.,"(-34.5533524, -58.48507309999999)"
14,"Neuquén 1700, Buenos Aires, Argentina",6,4,DASA,PROY. + PPTO.,"(-34.6158231, -58.4573088)"
15,"Venezuela 4350, Buenos Aires, Argentina",5,4,DASA,PROY. + PPTO.,"(-34.6181095, -58.4265633)"
16,"Avenida Caseros 3150, Buenos Aires, Argentina",4,4,DASA,PROY. + PPTO.,"(-34.6376634, -58.4081989)"
17,"Alzaga y Las Casas , Buenos Aires, Argentina",5,4,DASA,PROY. + PPTO.,"(-34.6356163, -58.4185975)"
18,"Necochea y Margal , Buenos Aires, Argentina",4,4,DASA,OBRA CONJUNTA EMUI,"(-34.629254, -58.3674796)"
19,"Avenida Patricias Argentinas y Cangallo , Buen...",6,4,DASA,OBRA CONJUNTA EMUI,"(-34.6046589, -58.4344882)"
20,"Emilio Castro y Leguizamón, Buenos Aires, Arge...",9,2,DASA,OBRA CONJUNTA VP,"(-34.6488101, -58.5086902)"
21,"Gascón y Araoz , Buenos Aires, Argentina",14,3,OSLO,OBRA CONJUNTA VP,"(-34.5902488, -58.4224072)"
22,"Libertad y Alvear , Buenos Aires, Argentina",1,1,OSLO,OBRA CONJUNTA VP,"(-34.5908784, -58.3842205)"
23,"Guardia Vieja y Gallo , Buenos Aires, Argentina",3,1,OSLO,OBRA CONJUNTA VP,"(-34.602501, -58.4128036)"
24,"Tres Sargentos y Alem , Buenos Aires, Argentina",1,1,OSLO,OBRA CONJUNTA VP,"(-34.5975824, -58.3718453)"
25,"Moreto 1700, Buenos Aires, Argentina",9,2,OSLO,PROY. + PPTO.,"(-34.6527643, -58.4762669)"
26,"Laguna 400, Buenos Aires, Argentina",9,2,OSLO,PROY. + PPTO.,"(-34.6390656, -58.48052959999999)"
27,"Corvalán 3400, Buenos Aires, Argentina",8,2,OSLO,PROY. + PPTO.,"(-34.6690907, -58.4708661)"
28,"Avenida Caseros y Tacuarí , Buenos Aires, Arge...",4,4,OSLO,OBRA CONJUNTA EMUI,"(-34.6278736, -58.37657600000001)"
29,"Avenida San Juan y Tacuarí , Buenos Aires, Arg...",3,1,OSLO,OBRA CONJUNTA EMUI,"(-34.6220903, -58.37860999999999)"
30,"Piedras y Venezuela , Buenos Aires, Argentina",1,1,OSLO,OBRA CONJUNTA EMUI,"(-34.6140077, -58.37755680000001)"
31,"Chacabuco y Cochabamba , Buenos Aires, Argentina",1,1,OSLO,OBRA CONJUNTA EMUI,"(-34.6233851, -58.3755445)"
32,"Vidal y Feliú , Buenos Aires, Argentina",13,3,RC,OBRA CONJUNTA SSPURB,"(-34.5563464, -58.4670983)"
33,"Remedios de Escalada de San Martín 4350, Bueno...",10,2,RC,PROY. + PPTO.,"(-34.6263247, -58.49314690000001)"
34,"Avenida Olivera 50, Buenos Aires, Argentina",10,2,RC,PROY. + PPTO.,"(-34.6358285, -58.4873355)"
35,"Coronel Ramón Lorenzo Falcón 3550, Buenos Aire...",10,2,RC,PROY. + PPTO.,"(-34.634156, -58.47672499999999)"
36,"Oliden y Santander, Buenos Aires, Argentina",8,2,RC,OBRA CONJUNTA EMUI,"(-34.6701598, -58.4826861)"
37,"Avenida Asturias y Castañares, Buenos Aires, A...",9,2,RC,TRASPASO,"(-34.6598511, -58.4639292)"

In [7]:
df2['coordenadas'] = [coordenadas(df2['DIRECCIÓN CORREGIDA '][i]) for i in range(len(df2))]
df2

,DIRECCIÓN CORREGIDA,COMUNA,ZONA,EMPRESA,coordenadas
0,"Cobo y Hortiguera , Buenos Aires, Argentina",7,2,RC,"(-34.6431553, -58.43922800000001)"
1,"Roca y General Paz , Buenos Aires, Argentina",8,2,RC,"(-34.5302643, -58.48932910000001)"
2,"Riestra y Larrazabal , Buenos Aires, Argentina",8,2,RC,"(-34.675511, -58.47331209999999)"
3,"Condor y Crespo , Buenos Aires, Argentina",4,4,DASA,"(-34.6545404, -58.42604240000001)"

In [8]:
df3['coordenadas'] = [coordenadas(df3['DIRECCIÓN CORREGIDA '][i]) for i in range(len(df3))]
df3

,DIRECCIÓN CORREGIDA,COMUNA,ZONA,EMPRESA,coordenadas
0,"Venezuela 4350, Buenos Aires, Argentina",5,4,DASA,"(-34.6181095, -58.4265633)"
1,"Avenida Caseros 3150, Buenos Aires, Argentina",4,4,DASA,"(-34.6376634, -58.4081989)"
2,"Alzaga y Las Casas, Buenos Aires, Argentina",5,4,DASA,"(-34.6356163, -58.4185975)"
3,"Necochea y Margal , Buenos Aires, Argentina",4,4,DASA,"(-34.629254, -58.3674796)"
4,"Moreto 1700, Buenos Aires, Argentina",9,2,OSLO,"(-34.6527643, -58.4762669)"
5,"Laguna 400, Buenos Aires, Argentina",9,2,OSLO,"(-34.6390656, -58.48052959999999)"
6,"Corvalán 3400, Buenos Aires, Argentina",8,2,OSLO,"(-34.6690907, -58.4708661)"
7,"Avenida Caseros y Tacuarí , Buenos Aires, Arge...",4,4,OSLO,"(-34.6278736, -58.37657600000001)"
8,"Saenz y Ochoa , Buenos Aires, Argentina",4,4,ALEMARSA,"(-34.6461513, -58.4161676)"
9,"Dellepiane Norte 4099, Buenos Aires, Argentina",9,2,ALEMARSA,"(-34.6565798, -58.47035750000001)"
10,"Coronel Ramón Lorenzo Falcón 3550, Buenos Aire...",10,2,RC,"(-34.634156, -58.47672499999999)"
11,"Oliden y Santander, Buenos Aires, Argentina",8,2,RC,"(-34.6701598, -58.4826861)"
12,"Avenida Asturias y Castañares, Buenos Aires, A...",9,2,RC,"(-34.6598511, -58.4639292)"

In [9]:
df1['Y'] = [df1['coordenadas'][i][0] for i in range(len(df1))]
df1['X'] = [df1['coordenadas'][i][1] for i in range(len(df1))]
df2['Y'] = [df2['coordenadas'][i][0] for i in range(len(df2))]
df2['X'] = [df2['coordenadas'][i][1] for i in range(len(df2))]
df3['Y'] = [df3['coordenadas'][i][0] for i in range(len(df3))]
df3['X'] = [df3['coordenadas'][i][1] for i in range(len(df3))]

In [10]:
# Exportar a Excel porque se jode con geopandas

df1.to_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\MAPA1.xlsx')
df2.to_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\MAPA2.xlsx')
df3.to_excel(r'C:\Users\Juan Igancio\Desktop\MAPAS\MAPA3.xlsx')